#text{
    margin-top:-20px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: serif;
    font-weight: bold;
    color: rgb(0, 30, 40);
}

#author{
    font-size: 18px;
    font-family: serif;
    color: rgb(0, 30, 40);
    font-weight: bold;
    font-style:italic;
    position: absolute;
    bottom: 60px;
    right: 15px;
}

#new-quote{
    position: absolute;
    bottom: 15px;
}

#tweet-quote{
    position: absolute;
    bottom: 15px;
    right:15px;
}

